FLASK_ENV=development
SECRET_KEY=your-secret-key-here
JWT_SECRET_KEY=your-jwt-secret-key-here
DATABASE_URL=sqlite:///mini_supermarket.db

# Services URLs
PRODUCT_SERVICE_URL=http://localhost:5001
INVENTORY_SERVICE_URL=http://localhost:5002
SALES_SERVICE_URL=http://localhost:5003
SUPPLIER_SERVICE_URL=http://localhost:5004
GATEWAY_URL=http://localhost:5000
